canvas#game-board {
    background-color: #6e8f46;
}

.button-on {
    color: red;
}

#battleplan-icon1 {
    color: white;
}

.battle-sim-left {
    margin-top: 165px;
    width: 280px;
    height: 1200px;
    float: left;

}

.battle-sim-middle {
    margin-top: 165px;
    width: 1225px;
    height: 1200px;
    float: left;
    margin-left: 5px;

}

.unit-title {
    font-family: 'mistlock_regular';
    margin-top: 40px;
    margin-right: 5px;
    margin-left: 25px;
    width: 350px;
    font-size: 20px;
}

.deployment-title {
    font-family: 'mistlock_regular';
    margin-top: 35px;
    margin-right: 10px;
    margin-left: 15px;
    font-size: 20px;

}

.battle-sim-btn {
    margin: 10px auto;
    width: 120px;
    border-top: 4px ridge #ffd700;
    border-left: 4px groove #ffd700;
    border-right: 4px ridge #ffd700;
    border-bottom: 4px groove #ffd700;
    box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: black;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    padding: 10px 0;
    background: radial-gradient(circle, #ff6347, #fe2712);

}

.battle-sim-btn:hover {
    background: radial-gradient(circle, #e52b2b, #ff3800);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);

}

.battle-sim-btn:active {
    background: radial-gradient(circle, #ec6a6a, #e52b2b);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);

}


.battle-sim-buttons {
    padding-top: 1px;
    margin-left: 1px;

}

.canvas-border {
    margin-top: 5px;
    border-top: 4px ridge #ffd700;
    border-left: 4px groove #ffd700;
    border-right: 4px ridge #ffd700;
    border-bottom: 4px groove #ffd700;
}

.battle-sim-images {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.input-color {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 9px;

}

.wrap-flex-top {
    display: flex;
    width: 100%;
    align-items: center;

}

.wrap-flex-bottom {
    margin-top: 5px;
    display: flex;
    width: 100%;
    align-items: center;

}

.unit-text {
    width: 300px;
    margin-right: 20px;
    margin-top: 25px;

}

.battle-sim-small-control-btn {
    margin: 10px auto;
    width: 40px;
    border-top: 4px ridge #ffd700;
    border-left: 4px groove #ffd700;
    border-right: 4px ridge #ffd700;
    border-bottom: 4px groove #ffd700;
    box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: black;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    padding: 10px 0;
    background: radial-gradient(circle, #ff6347, #ff2400);
}

.battle-sim-small-control-btn:hover {
    background: radial-gradient(circle, #e52b2b, #ff3800);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2)
}

.battle-sim-small-control-btn:active {
    background: radial-gradient(circle, #ec6a6a, #e52b2b);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2)
}

.battle-sim-control-center {
    margin-left: 80px;
    margin-right: 100px;
}

.battle-sim-control-ruler {
    margin-left: 40px;
}

.ribbon-img {
    height: 50px;
    width: 260px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.ribbon-container {
    position: relative;
}

.ribbon-text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    top: 12px;
    left: 15px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'mistlock_regular';
}

.battle-sim-unit-text {
    font-family: 'mistlock_regular';
    font-size: 16pt;

}

.battle-sim-btn-nf {
    margin: 10px auto;
    width: 120px;
    border-top: 4px ridge #ffd700;
    border-left: 4px groove #ffd700;
    border-right: 4px ridge #ffd700;
    border-bottom: 4px groove #ffd700;
    box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: black;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    padding: 10px 0;
    background: radial-gradient(circle, #ff6347, #ff2400);

}

.battle-plan-dropdown {
    width: 200px;
    margin-top: 30px;
}

.place-button {
    margin-left: 20px;
    width: 420px;
    margin-top: 40px;
}

.base-title {
    font-size: 20px;
    color: white;
    font-family: 'mistlock_regular';
    width: 100px;
    text-align: center;
}

.objective-button {
    margin-top: 35px;
}