@font-face {
    font-family: 'mistlock_regular';
    src: url('mistlock_regular-webfont.woff2') format('woff2'),
        url('mistlock_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#battleplan-icon1 {
    color: white;
}

.scoring-accordion {
    width: 100%;
}

.scoring-row {

    display: flex;
}

.scoring-column {
    flex: 50%;
}

.column-score-left {
    width: 50%;
    padding: 5px;
    float: left;
    margin-right: 20px;
}

.column-score-right {
    width: 50%;
    padding: 5px;
    float: right;
    margin-left: 20px;
}

.player-heading1 {
    color: #000080;
    font-family: 'mistlock_regular';
}

.player-heading2 {
    color: darkred;
    font-family: 'mistlock_regular';
}

.victory-points-heading1 {
    color: #000080;
    font-family: 'mistlock_regular';
}

.victory-points-heading2 {
    color: darkred;
    font-family: 'mistlock_regular';
}

.scoring-center {
    text-align: center;
}

.scoring-label {
    color: black;
}

.scoring-priority {
    margin: 10px;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    color: black;
    font-family: 'lightcase';
    font-weight: 800;
    font-size: 11pt;
}

.checkbox {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    position: relative;
}

.checkbox-large {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 10px;
    position: relative;
}

.other-battle-tactic {
    width: 300px;
    color: black;
    position: relative;
    border-style: solid;
    border-color: black;
}

.setup-text-fields {
    width: 300px;
    color: black;
    position: relative;
    border-style: solid;
    border-color: black;
}

.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'lightcase';
    font-weight: 800;
    font-size: 14pt;
    width: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'lightcase';
    font-weight: 800;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'lightcase';
    font-weight: 800;
}

.dropdown-content a:hover {
    background-color: white;
    font-family: 'lightcase';
    font-weight: 800;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(128, 128, 211);
}

.logo-display {
    height: 60px;
    width: 80px;
    margin-bottom: 30px;
}

.checkbox-large input:checked {
    background-color: green;
}

.text-field-align-other {
    margin-left: 55px;
}

.text-field-align-setup {
    margin-left: 30px;
}

.vp-separate {
    margin-top: 50px;
}

.name-separate {
    margin-bottom: 30px;
}

.battle-sim-left {
    width: 149px;
    height: 1000px;
    background-color: lightblue;
    float: left;
}

.battle-sim-middle {
    width: 1200px;
    height: 1000px;
    background-color: lightgreen;
    float: right;
}

.battle-sim-right {
    width: 100px;
    height: 1000px;
    background-color: lightpink;
}

canvas#game-board {
    background-color: #6e8f46;
}

.button-on {
    color: red;
}