/* Mistlock font */

@font-face {
    font-family: 'mistlock_regular';
    src: url('mistlock_regular-webfont.woff2') format('woff2'),
        url('mistlock_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Home page title style */

.home-page-tile-titles {
    font-family: 'mistlock_regular';
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 65px;
}

/* Alternative label element style */

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    color: black;
    font-family: 'lightcase';
    font-weight: 800;
    font-size: 11pt;
}

/* Alternative dropdown styles */

.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: Arial;
    font-weight: normal;
    font-size: 14pt;
    width: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Arial;
    font-weight: normal;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial;
    font-weight: normal;
}

.dropdown-content a:hover {
    background-color: white;
    font-family: Arial;
    font-weight: 800;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(128, 128, 211);
}